@import "bootstrap.scss";
@import "font-mfizz.scss";

@mixin display-flex() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin flex($values) {
  -webkit-box-flex: $values;
     -moz-box-flex: $values;
      -webkit-flex: $values;
  	  -ms-flex: $values;
  	      flex: $values;
}
// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
  -webkit-flex-direction: $direction;
     -moz-flex-direction: $direction;
      -ms-flex-direction: $direction;
          flex-direction: $direction;
}
// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($wrap) {
  -webkit-flex-wrap: $wrap;
     -moz-flex-wrap: $wrap;
      -ms-flex-wrap: $wrap;
          flex-wrap: $wrap;
}
// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($flow) {
  -webkit-flex-flow: $flow;
     -moz-flex-flow: $flow;
      -ms-flex-flow: $flow;
          flex-flow: $flow;
}
// Display Order
// - applies to: flex items
// <integer>
@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
     -moz-box-ordinal-group: $val;     
  	     -ms-flex-order: $val;     
  	      -webkit-order: $val;  
  		      order: $val;
}
// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($grow) {
  -webkit-flex-grow: $grow;
     -moz-flex-grow: $grow;
      -ms-flex-grow: $grow;
          flex-grow: $grow;
}
// Flex shrink
// - applies to: flex item shrink factor
// <number> 
@mixin flex-shrink($shrink) {
  -webkit-flex-shrink: $shrink;
     -moz-flex-shrink: $shrink;
      -ms-flex-shrink: $shrink;
          flex-shrink: $shrink;
}
// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
@mixin flex-basis($width) {
  -webkit-flex-basis: $width;
     -moz-flex-basis: $width;
      -ms-flex-basis: $width;
          flex-basis: $width;
}
// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
@mixin justify-content($justify) {
  -webkit-justify-content: $justify;
     -moz-justify-content: $justify;
      -ms-justify-content: $justify;
          justify-content: $justify;
            -ms-flex-pack: $justify;
}
// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
@mixin align-content($align) {
  -webkit-align-content: $align;
     -moz-align-content: $align;
      -ms-align-content: $align;
          align-content: $align;
}
// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
@mixin align-items($align) {
  -webkit-align-items: $align;
     -moz-align-items: $align;
      -ms-align-items: $align;
          align-items: $align;
}
// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
@mixin align-self($align) {
  -webkit-align-self: $align;
     -moz-align-self: $align;
      -ms-align-self: $align;
          align-self: $align;
}
@mixin linear-gradient($args...) {
  background-image: -o-linear-gradient($args); 
  background-image: -moz-linear-gradient($args); 
  background-image: -webkit-linear-gradient($args); 
  background-image: linear-gradient($args);
}
@mixin transition($property) {
  -moz-transition: $property; 
  -webkit-transition: $property; 
  transition: $property;
}
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin box-sizing($model) {
  -moz-box-sizing: $model; 
  -webkit-box-sizing: $model; 
  box-sizing: $model;
}

@font-face {
  font-family: FjallaOne;
  src: url("fonts/FjallaOne-Regular.ttf");
}
@font-face {
  font-family: Average;
  src: url("fonts/Average-Regular.ttf");
}
@font-face {
  font-family: IstokWeb;
  src: url("fonts/IstokWeb-Regular.ttf");
}
@font-face {
  font-family: Lora;
  src: url("fonts/Lora-Regular.ttf");
}
html,
body {
  @include linear-gradient(#04aae8, #d13531+50);
  background-attachment: fixed;
  color: black;
  font-family: Lora;
  font-size: 16px;
  padding: 0;
  margin: 0;
}
.header,
.nav,
.about {
  background: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.header,
.nav {
  @include display-flex();
  @include flex-flow(row wrap);
  @include justify-content(center);
}
.header-link-img {
  @include linear-gradient(#04aae8, #015f9f);
  width: 5rem;
  z-index: 200;
  padding: 1rem 3rem;
  box-shadow: 0 1rem 1rem rgba(black, 0.4);
  margin: 2rem;
  position: relative;
}
.nav {
  @include align-items(center);
  z-index: 100;
  margin: 1rem 0;
  position: relative;
}
.nav-fixed {
  display: none;
  @include flex-direction(row);
  @include justify-content(flex-start);
  width: 100%;
  background: #d13531+50;
  z-index: 300;
  padding: 0;
  margin: 0;
  position: fixed;
    top: 0;

  .nav-link:first-child,
  .nav-link:nth-child(2),
  .nav-link:nth-child(3),
  .nav-link:nth-child(4),
  .nav-link:last-child {
    display: block;
    @include flex(1);
    background: #d13531+50;
    color: black;
    font-size: 2rem;
    text-align: center;
    padding: 0.5rem 0;
    border: 0;
    margin: 0;
    @include transition(all 0.15s);
  }
  .nav-link:first-child {
    background: #04aae8;
    color: white;
  }
  .nav-link:first-child:hover,
  .nav-link:nth-child(2):hover,
  .nav-link:nth-child(3):hover,
  .nav-link:nth-child(4):hover,
  .nav-link:last-child:hover {
    background: #015f9f;
    color: white;
    border-radius: 0;
  }
}
.nav-link {
  @include box-sizing(border-box);
  color: #2b2b2b;
  font-family: FjallaOne;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem;
  margin: 0 1rem;
}
.nav-link:nth-child(3) {
  display: none;
}
.link-start {
  @include flex(100%);
  background: #04aae8;
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 0.1rem 0.1rem black;
  margin: 4rem 0;
}
.background {
  display: none;
}
.about,
.skills,
.portfolio,
.contact {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
  padding: 1rem;
  margin: 1rem 0;

  h1 {
    font-family: IstokWeb;
    font-size: 2rem;
  }
  h2 {
    font-family: IstokWeb;
    font-size: 1.2rem;
    text-align: justify;
    text-indent: 2rem;
  }
  img {
    margin-top: 2rem;
  }
  p {
    font-family: IstokWeb;
    font-size: 1.2rem;
    text-align: justify;
    text-indent: 2rem;
    margin: 2rem 0;
  }
}
.about,
.portfolio {
  h1,
  h2,
  p {
    color: #015f9f;
  }
  hr {
    border-top: 0.01rem solid #015f9f;
  }
}
.skills,
.contact {
  h1,
  h2,
  p, {
    color: white;
  }
  hr {
    width: 80%;;
    border: 0.01rem solid white;
  }
}
.about-heading,
.skills-heading,
.contact-info {
  @include display-flex();
  @include flex-direction(column);
  @include align-items(center);
}
.about {
  margin-top: 35vh;
}
.skills-container,
.portfolio-container {
  @include display-flex();
  @include flex-flow(row wrap);
  @include justify-content(center);
  margin: 5rem 0;
}
.skill-item {
  @include display-flex();
  @include justify-content(flex-end);
  @include align-items(flex-end);
  height: 6.5rem;
  width: 6.5rem;
  background: #04aae8;
  text-align: center;
  overflow: hidden;
  padding: 0;
  border-radius: 1rem;
  border: 0.01rem solid white;
  box-shadow: 0.3rem 0 2rem rgba(black, 0.3);
  margin: 0.3rem;
  position: relative;
  @include transform(rotate(45deg));

  i {
    display: block;
    width: 5.5rem;
    height: 5.5rem;
    color: white;
    font-size: 3rem;
    text-shadow: 0 0.2rem 0.1rem #015f9f, 0 -0.1rem 0.1rem #015f9f;
    padding: 0;
    margin: 0;
    position: absolute;
    @include transform(rotate(-45deg));
    @include transition(all 0.5s 1s ease-in);
  }
  .skill-item-text {
    display: block;
    width: 5rem;
    height: 4.5rem;
    color: white;
    font-family: FjallaOne;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0 0.1rem 0.1rem #015f9f, 0 -0.1rem 0.1rem #015f9f;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    position: absolute;
    @include transform(rotate(-45deg) translate(-20rem, 0));
    @include transition(all 0.5s 1s ease-in);
  }
}
.skill-item:hover {
  i {
    @include transform(rotate(-45deg) translate(-20rem, 0));
    @include transition(all 0.5s);
  }
  .skill-item-text {
    @include transform(rotate(-45deg));
    @include transition(all 0.5s);
  }
}
.portfolio {
  background: white;
}
.portfolio-item {
  @include display-flex();
  @include justify-content(flex-start);
  @include align-items(center);
  @include box-sizing(border-box);
  width: 8rem;
  height: 8rem;
  background: white;
  overflow: hidden;
  border: 0.01rem solid #04aae8 - 20;
  border-radius: 0.5rem;
  margin: 0.1rem;
  position: relative;
  @include transition(all 0.5s);

  img {
    width: 8rem;
    position: absolute;
    @include transform(translateY(-1rem) scale(2.5));
    @include transition(all 0.5s);
  }
  p {
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    text-indent: 0;
    text-transform: uppercase;
    position: absolute;
    @include transform(translateY(20rem));
    @include transition(all 0.5s);
  }
  a:link,
  a:visited {
    display: block;
    color: #015f9f;
    text-decoration: underline;
    white-space: no-wrap;
    @include transition(all 0.15s);
  }
  a:hover,
  a:active {
    color: white;
  }
}
.portfolio-item:hover {
  background: #04aae8;
  z-index: 100;
  @include transform(rotate(90deg) scale(1.5));

  img {
    @include transform(translate(-20rem));
  }
  p {
    @include transform(translateY(-2rem) scale(0.75) rotate(-90deg));
  }
}
.contact {
  .contact-logo {
    display: block;
    width: 10rem;
    margin-bottom: 2rem;
  }
  img {
    width: 100%;
  }
  h1 {
    text-transform: uppercase;
  }
  h2:last-child {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0 auto;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;

    li {
      display: inline-block;
      width: 3rem;
      padding: 0;
      margin: 1rem;
    }
  }
}

@media only screen and (min-aspect-ratio: 12/9) {
  .header {
    padding: 0;
    margin: 0;
  }
  .link-start {
    margin: 1rem 0;
  }
}
@media only screen and (min-width: 750px) {
  .header {
    height: 0;
    padding: 0;
    border-top: 0.5rem solid #04aae8;
    margin: 0;
  }
  .header-link-img {
    margin: 0;
  }
  .nav,
  .about,
  .skills,
  .portfolio,
  .contact {
    margin: 1rem;
  }
  .nav {
    @include justify-content(center);
  }
  .nav-link {
    font-size: 1.2rem;
    padding: 0;
    border-bottom: 1px solid black;
    margin: 0 auto;
  }
  .link-start {
    padding: 1rem;
    border: 0;
  }
  .nav-link:first-child,
  .nav-link:nth-child(2),
  .nav-link:nth-child(4),
  .nav-link:last-child {
    @include flex(2);
    text-align: center;
    @include transition(all 0.15s);
  }
  .nav-link:nth-child(3) {
    @include flex(5);
    display: block;
    color: white;
    border: none;
    margin: 0 auto;
  }
  .nav-link:nth-child(2),
  .nav-link:nth-child(4) {
    @include flex(2);
    margin: 0 2rem;
  }
  .nav-link:first-child:hover {
    background: #015f9f;
  }
  .nav-link:nth-child(2):hover,
  .nav-link:nth-child(4):hover,
  .nav-link:last-child:hover {
    color: white;
    background: #015f9f;
    border-radius: 0.5rem;
  }
  .background {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute; top: 0.5rem;

    img {
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
  .about {
    margin-top: 35vh;
    @include transform(rotate(-2deg) skewX(-2deg));
  }
  .portfolio {
    margin: 2rem;
    @include transform(rotate(2deg) skewX(2deg));

    h1,
    hr,
    h2,
    .portfolio-container {
      @include transform(rotate(-2deg) skewX(-2deg));
    }
  }
  .about {
    h1,
    hr,
    h2,
    img,
    p {
      @include transform(rotate(2deg) skewX(2deg));
    }
  }
  .portfolio-item {
    margin: 1rem;
  }
  .contact-info {
    @include flex-direction(row);

    p,
    ul {
      margin: 0 5rem;
    }
  }
}
@media only screen and (min-width: 1000px) {
  .about,
  .skills,
  .portfolio {
    padding: 2rem 10rem;
  }
  .contact {
    padding: 5rem 10rem;
  }
}
@media only screen and (min-width: 1300px) {
  html,
  body {
    font-size: 18px;
  }
  .about,
  .skills {
    @include flex-direction(row);
    @include justify-content(space-between);

    h1 {
      text-indent: 2rem;
    }
    p {
      margin: 10rem 0;
    }
  }
  .about-heading,
  .skills-heading {
    @include flex(1);
    @include align-items(flex-start);
    @include align-self(flex-start);
  }
  .about p,
  .skills .skills-container {
    @include flex(2);
    margin-left: 1rem;
  }
}
@media only screen and (min-width: 2000px) {
  html,
  body {
    font-size: 24px;
  }
}
@media only screen and (min-width: 3000px) {
  html,
  body {
    font-size: 36px;
  }
}